.table.cart thead {
    background-color: rgba(128, 119, 104, 0.8)
}
/*.table.cart tr {
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px
}*/

.table.cart tr {
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px
}
.table.cart tbody tr {
    height: 150px;
}
.table.cart tbody th span{
    color: rgba(109,46,41, 0.9);
    cursor: pointer;
}

button.confirmar{
    margin:0pc !important;
}

.white{
    color:white
}

.form-check{
    padding: 10px;
}

.direccion{
    padding-top:40px;
}

