
@font-face {
    font-family: 'BreeSerif-Regular';
    src: url('%PUBLIC_URL%/Font/BreeSerif-Regular.otf') format('opentype');
}

a {
    text-decoration: none !important;
    color: white !important;
}

    a:hover {
        color: #807768 !important;
    }

    a.dropdown-item {
        color: #212529 !important;
    }

body {
    /*background-image: url('../Img/black_background_wood-wallpaper-1920x1080.jpg');*/
    background-image: url('%PUBLIC_URL%/img/textura-madera-en-negro-2802.jpg');
    font-family: "BreeSerif-Regular";
}

.carousel.slide {
    margin-top: 50px;
    margin-bottom: 50px;
}

.inline-block {
    display: inline-block;
}

.estilo {
    color: white;
    text-align: center;
    font-size: 20px;
}

.estilo-90 {
    padding-bottom: 90px;
}

.estilo-40 {
    padding-bottom: 40px;
}

.estilo-size-30 {
    font-size: 30px;
}

.ms-img-replacement {
    font: 0/0 a !important;
    color: transparent !important;
}

.subTitle {
    font-size: 50px;
    text-shadow: 5px 5px 5px #807768;
    letter-spacing: 0.3em
}

.subTitle-marco {
    height: 110px;
    width: 500px;
}


div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icono {
    height: 40px;
    width: 40px;
}

.footer {
    height: 100%;
    background: black;
    padding-top: 80px;
    margin-top: 80px;
    color: white;
    font-family: Arial;
}

    .footer img {
        margin-right: 15px;
    }


.row {
    margin-right: 0px;
}

.contacto-flotante {
    position: fixed;
    top: 0;
    background-color: rgba(128, 119, 104, 0.8);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: white;
}

.fixed {
    position: fixed;
    bottom: 2%;
    width: 400px;
    background-color: rgba(109,46,41, 1);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(128, 119, 104);
    border-radius: 20px !important;
}

    .fixed h4 {
        color: white;
        text-align: center;
    }

.lista-precio-button {
    border-radius: 60px !important;
    font-size: 32px;
    color: rgba(109,46,41, 1);
    cursor: pointer;
}

#btnclosedescargarprecios {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.oculto {
    display: none !important
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button.buscar-direccion {
    margin: 0px;
    transform: translateY(0%);
    font-size: inherit;
}

.has-danger {
    border-color: #d9534f
}



@media only screen and (min-width: 768px) {
    .carousel-inner img {
        height: 30vw;
        width: 70vw;
        margin-left: 14vw;
    }

    .fixed {
        right: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-inner img {
        height: 50vw;
        width: 100%;
    }


    .subTitle-marco {
        width: 450px;
    }

    .contacto-flotante {
        visibility: hidden;
    }
}
