.contacto {
    color: white;
    font-size: 24px;
}

.contacto-enviar {
    margin-top: 1rem;
    margin-bottom: 50px;
    border-radius: 60px !important;
    font-size: 20px;
    color: rgba(109,46,41, 1);
    height: 45px;
    width: 100%;
    cursor: pointer;
}


.contacto-campo {
    background: rgba(109,46,41, 1);
    color: white;
}

.whatsapp{
    height:50px;
    width:50px;
}


